    #header{
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: sans-serif;
        font-size: 35px;
        padding: 10px;
        background: #444;
        width: 612px;
        color: #ffffff;
        text-align: left;
        padding-right: 40px;
        border: 2px solid #ddd;
    }
    #timestamp{
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: sans-serif;
        font-size: 35px;
        padding: 10px;
        background: #444;
        width: 291px;
        color: #ffffff;
        text-align: right;
        padding-right: 40px;
        border: 2px solid #ddd;
    }

    #footer{
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-family: sans-serif;
        font-size: 13px;
        padding: 10px;
        background: #444;
        width: auto;
        color: #ffffff;
        text-align: left;
        margin-right:10px;
        border: 2px solid #ddd;
    }

    #key{
        left: 10px;
        font-family: sans-serif;
        font-size: 18px;
        padding: 10px;
        background: #444;
        color: #ffffff;
        text-align: left;
        border: 2px solid #ddd;
        position: absolute;
        top: 87px;
        height: 100px;
        width: 117px;
    }
    
    a,a:hover, a:visited{
        color: #38F7FF;
    }

    p{
        display: inline-block;
        margin-top: 1px;
        position: relative;
        top: -2px;
        margin-left: 8px;
    }

    circle
    {
        fill-opacity: 0.6;
    }
