 <script type="text/javascript">
  var all_marks = <%= @all %>;
  </script>
	<div id="map"></div>
	<div id = "timestamp"></div>
	<div id = "header">see click fix data animation</div>
	<div id = "key">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style= "width:16px; height:16px">
			<circle cx="8" cy="8" r="8" fill="red"/>
		</svg><p>Over $200</p>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style= "width:16px; height:16px">
			<circle cx="8" cy="8" r="8" fill="yellow"/>
		</svg><p>$50-$199</p>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style= "width:16px; height:16px">
			<circle cx="8" cy="8" r="8" fill="green"/>
		</svg><p>Under $50</p>
	</div>
	


